* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Besley', serif;  
}

header {
    background-color: #723067;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    img {
        height: 50px;
        width: auto;
        border-radius: 50%;
    }
    h3 {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }
    h2 {
        color: white;
        font-size: 0.8rem;
        font-weight: lighter;
    }
    .cel {
        color: white;
        width: 3rem;
        padding-left: 1rem;
        font-size: 2rem;
    }
}

h1 {
    background-color: #723067;
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

.compu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#723067;
    .fa-laptop-code {
    padding-bottom: 1rem;
    font-size: 3rem;
    color: white;
    }
}

section {
    background-color: #723067;
    display: flex;
    flex-direction: column;
    article {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 1rem;
        .izquierda {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: white;
            padding: 0.5rem;
            border: dashed 2px gray;
            .iconos {
                display: flex;
                flex-direction: row;
                font-size: 2rem;
                color: white;
                padding: 0.5rem;
                .fa-cat, .fa-shopping-cart, .fa-bicycle, .fa-heart {
                    padding-left: 1rem;
                }

            }
        }
        .derecha {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1rem;
            color: white;
            padding: 0.5rem;
            border: dashed 2px gray;
            a {
                font-size: 1.7rem;
                color: white;
            }
        }
    }
}

.futuro {
    background-color: #723067;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}

footer {
    background-color: #723067;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    p {
        font-size: 1rem;
        color: white;
        }
    a {
        color: white;
        font-size: 2rem;
    }
    .derechos {
        text-align: center;
        font-size: 0.8rem;
        padding: 0.5rem;
        width: 100%;
        border-top: white 1px solid;
    }
}


@media  (min-width: 700px) {
    .izquierda {
        width: 27rem;
        margin-right: 1rem;
    }
    .derecha {
        width: 27rem;
    }
}